@model List<ClientMDA.ViewModels.CFloorViewModel>
@*@model ClientMDA.ViewModels.CMemberCommentViewModel*@
@using Microsoft.AspNetCore.Http
@using System.Text.Json;
@inject IHttpContextAccessor Accessor
@{
    var a = "";
    會員member mem = null;
    if (Accessor.HttpContext.Session.Keys.Contains(ClientMDA.Models.CDictionary.SK_LOGINED_USER))
    {
        a = Accessor.HttpContext.Session.GetString(ClientMDA.Models.CDictionary.SK_LOGINED_USER);
        mem = JsonSerializer.Deserialize<會員member>(a);
    }
}

@{
    ViewData["Title"] = "Default"; @*評論留言list*@
}
<style>
    btnfloorReport {
        height: 20px;
        width: 60px;
        font-size: 9px;
        margin: 0;
        margin-bottom: 11px;
        padding: 0;
    }
</style>
@{
    int count = 0;
    @for (var i = 0; i < @Model.Count; i++)
    {
        count++;
        string NickName = "";
        if (Model[i].fNickName.Count() > 0)
        {
            NickName = Model[i].fNickName[0];
        }
        <div class="blog__details__comment__item">
            <div class="blog__details__comment__item__pic" style="margin-right:20px">
                @if (Model[i].fMemImg != null)
                {
                    <img src="https://localhost:44381/images/Member/@Model[i].fMemImg[0]" alt="" height="55" style="border-radius:25px" />
                }
                else
                {
                    <img src="~/images/Member/MEMBER.png" alt="" height="55" style="border-radius:25px" />
                    @*會員預設大頭貼 https://dummyimage.com/150x150/6c757d/dee2e6.jpg *@
                }
            </div>
            <div class="blog__details__comment__item__text">
                <h5>#@count</h5>
                <h5> @NickName<span style="display: inline;"> - @Html.DisplayFor(modelItem => Model[i].發佈時間floorTime)</span></h5>
                <p>
                    @Model[i].回覆內容floors
                </p>
                <div @*style="height:20px"*@>
                    @*<iframe src='' scrolling='no' frameborder='0' style='width:60px; height:20px;' allowTransparency='true' onload='this.src="//www.facebook.com/plugins/like.php?locale=zh_TW&amp;href="+location.protocol+"//"+location.hostname + location.pathname + "&amp;layout=button_count&amp;action=like&amp;colorscheme=light&amp;share=false"; this.onload="";'></iframe>*@
                    <a href="#">Like @Model[i].被按讚次數thumbsUp <i class="fas fa-thumbs-up"></i></a>
                    <a class="unLike" href="#">UnLike @Model[i].被倒讚次數thumbsDown <i class="fas fa-thumbs-down"></i></a>
                    @*<a class="report" href="#" type="button" id="btnReport" data-toggle="modal" data-target="#reportModal">檢舉</a>*@
                    <button type="button" id="btnfloorReport" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#floorReportModal">檢舉</button>
                </div>

                @{ //留言檢舉
                    if (mem != null)
                    {
                        <!-- Modal -->
                        <div class="modal fade" id="floorReportModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                @using (Html.BeginForm("Report檢舉", "Comment"))
                                {
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle" style="color:black">檢舉</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body" style="color:black">
                                            <!--modal content start-->
                                            <input type="hidden" name="會員編號Member_ID" value="@mem.會員編號memberId" />
                                            <input type="hidden" name="對象Target_ID" value="0" />
                                            <input type="hidden" name="追讚倒編號ActionType_ID" value="3" />
                                            <input type="hidden" name="連接編號Connect_ID" value="@Model[i].樓數編號floorId" />
                                            <input type="hidden" name="" value="" />
                                            <div><label>檢舉人</label><input type="text" readonly value="@mem.暱稱nickName" /></div>
                                            <div><label>檢舉對象</label><input type="text" readonly value="@NickName" /></div>
                                            <div><label>檢舉理由</label><textarea cols="50" name="檢舉理由ReportReason"></textarea></div>
                                            <!--modal content end-->
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                                            <button type="submit" class="btn btn-primary" id="submitAddList">確定</button>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <!--modal end-->
                    }
                }
            </div>
        </div>
    }
}


