@model List<ClientMDA.ViewModels.CTheater>
@{
    ViewData["Title"] = "Default";
}
@{

    for (var i = 0; i < 12; i++)
    {
        <a href="@Url.Action("快定頁面測試", "Theater",new {id=Model[i].電影編號movieId })">
            <div class="post-box">
                <div class="post" style="background-image: url(&quot;https://img.ezding.com.tw/photos/ezding/poster/px_fcatm0873074_0003.jpg&quot;), url(&quot;Static/common/poster.png&quot;);"></div>
                <div class="coming">
                    上映日期<span>@Model[i].上映日期releaseDate</span>
                </div>
                <div class="title" title="阮玲玉">
                    <input class="mov" type="hidden" value="@Model[i].電影編號movieId" />

                    @Model[i].中文標題titleCht
                </div>
                <div class="en" title="Ruan Ling Yu">
                    @Model[i].英文標題titleEng
                </div>
                <div class="grade">
                    @Model[i].分級級數ratingLevel
                </div>
            </div>

        </a>
    }


}



<script>
  
</script>